.CodeRay {
  background-color: black;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: white;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color: #80FF53 }                         /* class */
.CodeRay .co { color:#80FF53}                         /* constant */
.CodeRay .fl { color:#0AFFFF }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#F0AF65 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
.CodeRay .ke { color:#FFB13D } 
.CodeRay .vl { color:#FFF12B }
.CodeRay .cr { color:#5E89FF }
.CodeRay .er { color:#FF42F2 }
.CodeRay .ps { color:#DCED6D }
.CodeRay .im { color:#ED0000 }
.CodeRay .ty { color:#C89EFF }
.CodeRay .kw { color:#81F002 }
.CodeRay .k { color:#F0EA3C }
.CodeRay .dl { color:#48DFF0 }
