<span class="head">Panel logowania</span>
<br><br>
<span class="login">
<% form_tag :action => 'process_login' do -%>
   Login: <%= text_field "user", "username" %><br>
   Hasło: <%= password_field "user", "password" %><br>
   <%= submit_tag 'Zaloguj' %><br>
<% end %>
</span>
<br><br><span class="error">
<% if flash[:error] %>
   <%= flash[:error] %>
<% end %>
</span>



