<span class="head">Elementy wykonane w HTML5</span><br><br>
<br>
<span class="thead">Video player</span><br><br>
<code lang="html">
<video class="projekktor" src="/zwoleya.ogv" controls="controls" autoplay="" width="600" height="350">
Twoja przeglądarka nie obsługuje html5
</video>
</code>
