<span class="head">Witaj na stronie Pomorskie Kopyto Football Club</span><br><br><br>
<span class="head">Ostatnie newsy:</span><br><br>
<table>
<% @newsy.each do |news| %>
  <tr><td class="news_data"><%=h news.dodane %> || <%=h news.tytul %>
   <tr><td class="news_tresc"><%=h news.tresc %>
    
<% end %>
</table>
