<%= stylesheet_link_tag 'stronaglowna' %>
<h1 class="srodek">Witamy na podstronie o klubie Pomorskie Kopyta FC</h1>
<h2 class="srodek">Naszym hasłem z którym się utożsamiamy jest :</h2>
<h1 class="srodek">You'll Never Walk Alone</h1>
<img src="/images/haslo.jpg" alt="haslo" />
</br>
<h2 class="srodek">Historia</h2>
<p>Pomorskie kopyto FC zostało założone w 1945 roku. W 1973 roku piłkarze po raz pierwszy awansowali do II ligi. 
Drugoligowa kariera kopyt w latach 70-tych nie trwała długo - już po 2 sezonach nastąpiła degradacja. 
Na kolejny awans przyszło kibicom Pomorskich kopyt czekać 13 lat. Awans nastąpił w niezbyt sprzyjającym momencie. 
W sezonie 1989/90 II liga była reorganizowana i mimo 11 lokaty w tabeli kopyta znów spadli do niższej klasy.
 Początek lat 90-tych nie zapowiadał więc późniejszych sukcesów. 
 W roku 1991 Pomorskie Kopyta FC ponownie znalazł się w gronie drugoligowców. 
 Tym razem pobyt w tej klasie trwał 3 lata. 
 W 1994 roku Kopyta po raz pierwszy w historii awansowali do ekstraklasy. 
 W pierwszym sezonie w najwyższej klasie rozgrywek Kopyta zajął ostatnie bezpieczne miejsce - 14. 
 W pomorskiej drużynie występowali wtedy między innymi Romario, Dunga, Pele, Eusebio, Cezary Baryka, Pudzian. 
 W kolejnych sezonach, ze względu na trudną sytuację finansową, zespół był systematycznie osłabiany, ale zawsze zajmował miejsce w środkowych rejonach tabeli.
  Jednak tragedia nastąpiła w sezonie 2001/02 - Pomorskie Kopyta spadł do drugiej ligi, lecz również w tym sezonie udal o im sie awansowac do finału prestiżowej ligi mistrzów.</p>

<h2 class="srodek">Miejsce Pomorskich kopyt w rozgrywkach:</h2>

<table>
<tr> 
<td>1947 
<td>(12) grupa południowa 
<tr>
<td>1969
<td> (3) klasa okręgowa 
<tr>
<td> 1970
<td> (1) klasa okręgowa 
<tr>
 <td>1971
 <td> (15) liga międzywojewódzka 
<tr>
 <td> 1972
 <td> (1) klasa okręgowa 
<tr>
 <td>1973
 <td> (7)liga międzywojewódzka 
<tr>
 <td>1974
 <td> (12)II liga 
<tr>
 <td>1975
 <td> (15)II liga 
<tr>
 <td>1976
 <td> (2)klasa okręgowa 
<tr>
 <td>1977
 <td> (3) liga międzywojewódzka 
<tr>
 <td>1978
 <td> (2)liga międzywojewódzka 
<tr>
 <td>1979
 <td> (2)liga międzywojewódzka 
<tr>
 <td>1980
 <td> (4)liga międzywojewódzka 
<tr>
 <td>1981
 <td> (4)III liga 
<tr>
 <td>1982
 <td> (10)III liga 
<tr>
 <td>1983
 <td> (4)III liga 
<tr>
 <td>1984 
 <td>(8) III liga 
<tr>
 <td>1985
 <td> (5)III liga 
<tr>
 <td>1986
 <td> (6) III liga 
<tr>
 <td>1987<td> (2) III liga 
<tr>
 <td>1988
 <td> (1)III liga 
<tr>
 <td>1989
 <td> (11)II liga 
<tr>
 <td>1990
 <td> (5) III liga 
<tr>
 <td>1991
 <td> (2) II liga 
<tr>
 <td>1992 
 <td>(12)II liga 
<tr>
 <td>1993
 <td> (5) II liga 
<tr>
 <td>1994
 <td> (1) I liga 
<tr>
 <td>1995
 <td> (14) I liga 
<tr>
 <td>1996
 <td> (6) I liga 
<tr>
 <td>1997
 <td> (9) I liga 
<tr>
 <td>1998
 <td> (11) I liga 
<tr>
 <td>1999
 <td> (9) I liga
<tr>
 <td>2000
 <td> (8) I liga   
<tr>
 <td>2001
 <td> (14) I liga 	
<tr>
 <td>2002
 <td> (15) II liga
<tr>
 <td>2003-2007
 <td>  III liga 
<tr>
 <td>2007-2010
 <td> IV liga  

</table>
