<% content_for :leftmenu do %>
        <span class="button"><%= link_to "Gadżety", gadgets_show_path %></span><br>
<% end %>

<h1>Witaj w prawie internetowym sklepie z pamiątkami i gadżetami Twojego ulubionego klubu Pomorskie Kopyto FC.</h1>

<span class="oklubie_content">Na stronie możesz zobaczyć co i za ile możesz kupić w sklepie. Sklep mieści się w: <br>
<br>
	Kopyto Pomorskie <br>
	ul. Futbolowa 1 <br>
	00-000 Kopyto Pomorskie <br>
<br>
obok sklepu p. Heńka. Niestety sprzedaż poprzez internet została zawieszona pownieważ nie dawno zamkneli nam Pocztę. Zapraszamy do obejrzenia naszych pamiątek oraz gadżetów związanych z Naszym klubem.
